.counter-element {
  //border: 1px solid #eee;
  position: relative;
  width: 160px;
  text-align: center;
  float: left;
  margin: 1 0 0 0;
  height: 110px;

  .content {
  	.choiceName {
        font-size: 15px;
        margin: 3px;
        text-transform: capitalize;
        font-weight: 400;
  	}
	.choiceCount {
  	  font-size: 30px;
      font-weight: 500;
  	}
  }
}
