.counter-element {
  //border: 1px solid #eee;
  position: relative;
  width: 160px;
  text-align: center;
  float: left;
  margin: 1 0 0 0;
  height: 110px;

  .content {
  	.choiceName {
        margin: 3px;
        font-weight: 400;
        $font-size: 15px;
        $line-height: 1.4;
        $lines-to-show: 2;
        display: -webkit-box;
        max-width: 400px;
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
  	}
	.choiceCount {
  	  font-size: 30px;
      font-weight: 500;
  	}
  }
}
