.survey-question {
	text-align: center;
	padding: 10px;
	font-weight: 500;
	font-size: 20px;
}

.question-container {
	hr {
		margin: 0 20px;
		stroke: #eee;
	}
	.app-content {
		padding: 16px;
	}
	h4 {
		font-size: 16px;
		font-weight: 200;
		text-align: center;
	}
}

.counter-wrapper {
	padding: 0px 40px;
	.choiceName {
		font-weight: 200;
	}
}

#root .detail-title-heading {
	font-weight: 500;
	font-size: 20px;

}

.back-btn {
    height: 48px;
	display: inline-block;
	padding: 5px;
	
    img {
	    float: left;
		padding: 0;
		height: 25px;
		width: 25px;
	}
	
    a {
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		margin: 10px;
	}
	
	a:visited {
		color: #2196F3;
	}
	
	span {
	    vertical-align: middle;
	}
}
